<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title='Login')"/>
<body>
    <nav th:replace="fragments/common :: navbar"/>
    <main class="container">
        <header class="page-header"><h1>Log In</h1></header>
        <div th:replace="fragments/common :: error(
            condition=${param.error},
            type='danger',
            messages = ${new String[]{'Invalid Username and Password'}}
        )" />
        <div th:replace="fragments/common :: error(
            condition=${param.logout},
            type='info',
            messages = ${new String[]{'You have been logged out'}}
        )" />
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input
                    id="username"
                    name="username"
                    class="form-control"
                    autofocus="autofocus"
                    type="text"
                />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" class="form-control" name="password" type="password" />
            </div>
            <input class="btn btn-primary" type="submit" value="Log In" />
        </form>
    </main>
    <span th:replace="fragments/common :: scripts"/>
</body>
</html>
